

<mat-card class="example-card" *ngFor="let f of foodOrderList">
    <mat-card-title>Your Order</mat-card-title>
    <mat-card-header>
        <mat-card-title>{{f.strCategory}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="f.strCategoryThumb" alt="Photo of a Shiba Inu">
    <mat-card-subtitle>{{f.price|currency}}</mat-card-subtitle>
    <mat-card-actions>
        <!-- <button mat-button (click)="payHere()">PayHere</button> -->
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>PayHere</span></button>
        <button nz-button nzType="primary" (click)="showConfirm()">Confirm</button>
        <button mat-button (click)="back()">Back</button>
    </mat-card-actions>
</mat-card>

