*{
    margin: 10px 10px 10px 10px;
}

.example-card {
    max-width: 1000px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    margin-left: 300px;
    margin-top: 50px;
    margin-right:300px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}